.configurator {
  display: flex;
  flex: 1;
  max-width: 100%;
  max-height: calc(100vh - 82px);

  .canvas-section {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex: 1;

    canvas {
      width: 100%;
      min-height: 100%;
      display: block;
    }
  }

  .menu-section {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;
    padding: 32px;

    height: 100%;
    max-height: calc(100vh - 160px);

    overflow: hidden;

    border-left: 1px solid #eeeeee;

    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: anywhere;
  }

  @media (max-width: 860px) {
    flex-direction: column;

    .canvas-section {
      flex: 1; /* Allow it to grow and fill the remaining space */
    }

    .menu-section {
      height: 256px; /* Fixed height */
      min-width: 100%;
      max-width: none;
      padding: 16px;
      box-sizing: border-box;

      border-left: none;
    }
  }
}